---
title: The Tensor Repository
---

<h1> Tensors </h1>

See our page on <a href="file-formats.html">file formats</a>.



<!-- Generate tag list -->
{% assign tensor_tags = "" %}
{% for tensor in site.tensors %}
  {% for tag in tensor.tags %}
    {% assign tensor_tags = tensor_tags | append: tag | append: "|" %}
  {% endfor %}
{% endfor %}
{% assign tensor_tags = tensor_tags | split: "|" | uniq | sort %}


<h2> All tensors: </h2>
{% include tensor_table.html tbl_name="all" datasets=site.tensors %}

<h2 style="padding-top: 60px">Tensors grouped by tag:</h2>

<!-- Make a link to each tag-specific table. -->
<p>
Skip to tags:
{% for tag in tensor_tags %}
  <a href="#tbl_{{tag}}">{{ tag }}</a>
{% endfor %}
</p>

<!-- Tag-specific tables -->
{% for tag in tensor_tags %}
  {% assign tbl_name = "tbl_" | append: tag %}
  {% assign current_tensors = site.tensors | where_exp:"tt", "tt.tags contains tag" %}
  {% include tensor_table.html tbl_id=tbl_name datasets=current_tensors %}
{% endfor %}

