---
---

@import "{{ site.theme }}";

.inner {
  max-width: 1024px;
}

#header_wrap {
  overflow: hidden;
}

#title {
  float: left;
}

nav {
  float: right;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
      display: inline-block;
      margin: 0 2px 2px;
      height: 40px;
      line-height: 24px;

      a {
        color: black;
        background-color: #fff;

        padding: 8px;
        font-size: 22px;
        line-height: 24px;

        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
      }
      a:hover {
        text-decoration: none;
        background-color: grey;
      }
  }
}

.active_page a {
  background-color: #C0C0C0;
}

@media screen and (max-width: 480px) {
  .inner {
    max-width: 480px;
  }

  nav {
    li {
      height: 32px;

      a {
        font-size: 14px;
        line-height: 16px;
        color: black;
      }
    }
  }
}

/* adjust pre's so page doesn't pick up a horizontal scroll */
#main_content pre {
  width: 98%;
  padding-right: 1%;
  padding-left: 1%;
}
