---
layout: default
---

<h1> {{ page.title }} </h1>

<p> {{ page.description | markdownify }} </p>


<h3>Tensor Statistics</h3>

<table class="tensor-stats">
  <tr>
    <td> Non-zeros </td>
    <td style="text-align:right"> {{ page.nnz }} </td>
  </tr>
  <tr>
    <td> Order </td>
    <td style="text-align:right"> {{ page.order }} </td>
  </tr>
  <tr>
    <td> Dimensions </td>
    <td style="text-align:right"> {{ page.dims | join: " x " }} </td>
  </tr>
  {% for prop in page.stats %}
  <tr>
    <td> {{ prop[0] }} </td>
    <td style="text-align:right"> {{ prop[1]}} </td>
  </tr>
  {% endfor %}
</table>

<h3>Downloadable Files</h3>
<table class="tensor-files">
  <tr>
    <th>Type</th>
    <th>File</th>
    <th>Description</th>
  </tr>
  {% for file in page.files %}
  <tr>
    <td> {{ file[0] }} </td>
    {% assign fname = file[1] | split: "/" %}
    <td> <a href="{{file[1]}}">{{ fname.last }}</a></td>
    <td> {{ file[2] }} </td>
  </tr>
  {% endfor %}
</table>


{% if page.citation %}
  <h3>Citation</h3>
  <pre>{{ page.citation }}</pre>
{% endif %}

<p> Tensor ID: {{ page.tensor_id }} </p>

{{ content }}
