---
layout: default
---

<h1> {{ page.title }} </h1>

<h2>Dataset Description</h2>
<p> {{ page.description }} </p>


<h2>Dataset Statistics</h2>

<table class="tensor-stats">
  {% for prop in page.stats %}
  <tr>
    <td> {{ prop[0] }} </td>
    <td> {{ prop[1]}} </td>
  </tr>
  {% endfor %}
</table>

<h2>Files</h2>
<table class="tensor-files">
  {% for file in page.files %}
  <tr>
    <td> {{ file[0] }} </td>
    {% assign fname = file[1] | split: "/" %}
    <td> <a href="{{file[1]}}">{{ fname.last }}</a></td>
  </tr>
  {% endfor %}
</table>



{% if page.cite %}
  <h2>Citation</h2>
  <pre>{{ page.cite }}</pre>
{% endif %}

{{ content }}
