---
layout: default
---
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
</script>

<h1> {{ page.title }} </h1>

<p> {{ page.description | markdownify }} </p>


<h3>Tensor Statistics</h3>

<table class="tensor-stats">
  <tr>
    <td> Non-zeros </td>
    <td style="text-align:right"> {{ page.nnz }} </td>
  </tr>
  <tr>
    <td> Order </td>
    <td style="text-align:right"> {{ page.order }} </td>
  </tr>
  <tr>
    <td> Dimensions </td>
    <td style="text-align:right">
      {% include dim_string.html dims=page.dims %}
    </td>
  </tr>


  {% comment %}
    Tag row is a list of tags, with the text being a link to tbl_{{tag}} on the
    main tag page. We do this by first capturing link text, all separated by
    "|".  Then we splat and join them in the table cell with ",". By
    splitting/joining we remove the last "|".

    Can this be accomplished easier?
  {% endcomment %}

  {% if page.tags %}
    {% assign tag_links = "" %}
    {% for tag in page.tags %}
      {% capture link_text %}
        <a href="/tensors/index.html#tbl_{{tag}}">{{tag}}</a>
      {% endcapture %}
      {% assign tag_links = (tag_links | append: link_text | append: "|" %}
    {% endfor %}
    <tr>
      <td> Tags </td>
      <td style="text-align:right">
        {{ tag_links | split: "|" | join: ", " }}
      </td>
    </tr>
  {% endif %}


  {% for prop in page.stats %}
  <tr>
    <td> {{ prop[0] }} </td>
    <td style="text-align:right"> {{ prop[1]}} </td>
  </tr>
  {% endfor %}
</table>


<h3>Downloadable Files</h3>
<table class="tensor-files">
  <tr>
    <th>File</th>
    <th>Description</th>
  </tr>
  {% for file in page.files %}
  <tr>
    {% assign fname = file[0] | split: "/" %}
    <td> <a href="{{site.datahost_base}}/{{file[0]}}">{{ fname.last }}</a></td>
    <td> {{ file[1] }} </td>
  </tr>
  {% endfor %}
</table>


{% if page.citation %}
  <h3>Citation</h3>
  <pre>{{ page.citation }}</pre>
{% endif %}

{{ content }}
